

<div class="footer fixed-bottom">
  <div>
    <h5>PIATTAFORMA VOLONTARI</h5>
    <p>Fondazione Francesca Rava - N.P.H. ONLUS</p>
    <div class="footer-links d-flex justify-content-between">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="https://nph-italia.org/home/" target="_new" class="btn btn-sm btn-light btn-circle">nph-italia.org</a>
    </div>
  </div>
  <div class="footer-copyright">
    <%= image_tag "logo-white.png" %>
  </div>
</div>


