<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<% @events.each do |event| %>
  <p> <%= link_to event.date, project_event_path(@project, event) %> </p>
<% end %>

<%= link_to 'NEW EVENT', projects_path, class: "btn btn-outline-primary" %>
