<% if current_user.admin %>
<div class="container-blue form-project d-flex justify-content-between">
  <h1 class="section-title">Vuoi modificare il progetto?</h1>
  <%= render "form" %>
</div>

<% end %>
