.project-card {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  border: none;
  img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  h3 {
    font-weight: bold;
    color: $blue;
    font-size: 1.3rem;
  }
  p {
    font-size: 2.7rem;
    line-height: 2.7rem;
  }
}

.event-card {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  border: none;
  color: $blue;
  .btn-container {
    position: relative;
  }
  .btn-butt {
    position: absolute;
    bottom: 20%;
    right: 0;
  }
  h4 {
    font-weight: bold;
    font-size: 1.2rem;
  }
  p {
    line-height: 7px;
  }
}

.registrations-card {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  border: none;
  color: $blue;
  .btn-container {
    position: relative;
  }
  .btn-butt {
    position: absolute;
    bottom: 20%;
    right: 0;
  }
  .card-title {
    color: $orange;
  }
  .btn-success {
    color: white;
  }
  h4 {
    font-weight: bold;
    font-size: 1.2rem;
  }
  p {
    line-height: 7px;
  }
}


