.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
}

.container-blue {
  background-color: $blue;
  padding: 50px 150px;
}

.container-blue-center {
  background-color: $blue;
  padding: 50px;
  width: 60vw;
  color: blue;
  border-radius: 15px;
}

.narrow {
  width: 40vw;
}


// Small devices (landscape phones, 576px and up)
@media (max-width: 500px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  .container-blue {
    padding: 30px;
  }
  .container-blue-center {
    width: 90vw;
    padding: 20px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 500px) and (max-width: 1100px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
  .container-blue {
    padding: 30px 40px;
  }
  .container-blue-center {
    width: 80vw;
    padding: 30px;
  }
}


