.form-project {
  h1 {
    text-align: left;
  }
  input {
    border: none;
    width: 35vw;
    display: inline-block;
  }
  .photo-input {
    color: white;
  }
  .icon-white {
    color: white;
  }
}

.form-registration {
  input {
    border: none;
    width: 31vw;
    display: inline-block;
  }
}

.form-event {
  input {
    border: none;
    width: 31vw;
    display: inline-block;
  }
  .photo-input {
    color: $blue;
  }
  .icon-blue {
    color: $blue;
  }
}

.form-devise {
  color: white;
  h1 {
    text-align: left;
  }
  input {
    border: none;
    width: 50vw;
    display: inline-block;
  }
  .photo-input {
    color: white;
  }
  .boolean-input {
    text-align: left;
  }
}

.narrow {
  input {
    width: 30vw;
  }
}

@media (max-width: 500px) {
  .form-project {
    display: block !important;
    h1 {
      text-align: left;
    }
    input {
      border: none;
      width: 80vw;
      display: inline-block;
    }
  }
  .form-devise {
    display: block !important;
    input {
      width: 100%;
      font-size: 16px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 500px) and (max-width: 1000px) {
  .form-project {
    display: block !important;
    h1 {
      text-align: left;
    }
    input {
      border: none;
      width: 90vw;
      display: inline-block;
    }
    button {
      width: 90vw;
    }
  }
  .form-devise {
    display: block !important;
    width: 100%;
    input {
      width: 100%;
    }
    button {
      width: 100%;
    }
  }
}


