.navbar-lewagon {
  justify-content: space-between;
  background: white;
  li {
    color: $blue;
    font-weight: bold;
    font-family: $body-font;
    font-size: 25px;
    margin-right: 20px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}
