.navbar-c {
  justify-content: space-between;
  background: white;
  li {
    font-weight: bold;
    font-family: $body-font;
    font-size: 1.4rem;
    margin-right: 20px;
  }
  a {
    color: $blue !important;
  }
  a:hover {
    opacity: 60%;
  }
  .navbar-collapse {
    flex-grow: 0;
  }
  .navbar-brand img {
    width: 100px;
  }
  .filter-darken {
    filter: brightness(50%)
  }
}

@media (max-width: 560px) {
  .navbar-c {
    li {
      font-size: 1rem;
    }
  }
}
