.page-title {
  font-size: 3rem;
  color: $blue;
  font-weight: bold;
  margin-bottom: 3rem;
}

.section-title {
  font-size: 2.2rem;
  color: white;
  font-weight: bold;
}


.paragraph-title {
  font-size: 30px;
  color: $blue;
  font-weight: bold;
}

.paragraph-title-white {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  line-height: 2rem;
}
